@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #111111;
    --primary: #111111;
    --primary-foreground: #ffffff;
  }
}
