@import "@repo/theme/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-h-screen bg-background text-foreground;
  }

  body {
    @apply tracking-[-0.02em];
  }

  body,
  span {
    @apply leading-[140%];
  }
}

@layer utilities {
  .grain {
    background-image: url("../public/grain.svg");
    background-color: #d9d0d9;
    -webkit-mask-image: linear-gradient(to bottom, #d9d0d9, transparent);
    mask-image: linear-gradient(to bottom, #d9d0d9, transparent);
    mask-mode: alpha;
  }

  @media (min-width: 1024px) {
    .grain {
      -webkit-mask-image: linear-gradient(to top, #d9d0d9, transparent);
      mask-image: linear-gradient(to top, #d9d0d9, transparent);
    }
  }
}
