@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #111111;
    --primary: #111111;
    --primary-foreground: #ffffff;
  }

  html,
  body {
    @apply min-h-screen bg-background text-foreground;
  }

  body {
    @apply tracking-[-0.02em];
  }

  body,
  span {
    @apply leading-[140%];
  }
}
